faster-whisper
transformers
ffmpeg
ffmpeg-python
pycairo
PyGObject
regex
fuzzysearch
python-magic
pandas
torch
torchaudio
auditok
stable-ts==2.15.8
retry2
ukrainian_word_stress
ipa_uk@git+https://github.com/patriotyk/ipa-uk.git
num2words@git+https://github.com/patriotyk/num2words.git
