faster-whisper
transformers
ffmpeg
ffmpeg-python
pycairo
PyGObject
regex
fuzzysearch
python-magic
pandas
torch
torchaudio
auditok
stable-ts@git+https://github.com/jianfch/stable-ts.git@e6c44f97d0d56015e1a63134b61bed768153696e
retry2
tqdm

